# Ignore large datasets
/datasets/interim/papers/docling/
/datasets/interim/papers/grobid/
/datasets/processed/argument_mining/snowball_sampling/phase_2_large_sample/
/datasets/processed/papers/cleaned/
/datasets/raw/papers/metadata/
/datasets/raw/papers/pdfs/

# Ignore model weights
*.safetensors

# The model folders have other large files as well. Ignore these too
/models/*/.cache/*
/models/*/archive/*
/models/*/base/archive/*
/models/*/finetune/archive/*
*.pth

# Ignore archived and temporary files
/archive/
/temp/
/src/moralkg/preprocessing/pdfs/archive/

# Ignore logs
*.logs

# Ignore venvs and environment variables
*venv*
*env*

# Ignore build and cache files
*vscode*
*__pycache__*
*cache*
*node_modules*
*.egg-info*

# Ignore apps with their own repositories
/apps/mere_workshop/
/apps/mere_workshop_listener/
models/meta_llama_3.1_8B/base/original/consolidated.00.pth
models/meta_llama_3.1_8B/base/original/tokenizer.model
