# Ignore large datasets
/datasets/interim/papers/docling/
/datasets/interim/papers/grobid/
/datasets/processed/argument_mining/snowball_sampling/phase_2_large_sample/
/datasets/processed/papers/cleaned/
/datasets/raw/papers/metadata/
/datasets/raw/papers/pdfs/

# Ignore model weights
**.safetensors

# The model folders have other large files as well. Ignore these too
/models/*/.cache/*
/models/*/archive/*
/models/*/base/archive/*
/models/*/finetune/archive/*
*.pth

# Do not embed git repositories
models/meta_llama_3.1_8B/base
models/meta_llama_3.1_8B/Meta-Llama-3.1-8B-Instruct-bnb-4bit

# Ignore archived and temporary directories
**archive/
**temp/

# Ignore interim outputs
datasets/interim/argument_mining/snowball_phase_1/*/*/individual_outputs/
datasets/interim/argument_mining/snowball_phase_1/end2end/pipeline_summary*.json

# Ignore logs
*.logs

# Ignore venvs and environment variables
*venv*
*env*

# Ignore build and cache files
*vscode*
*__pycache__*
*cache*
*node_modules*
*.egg-info*

# Ignore local Node package files (only necessary for argdown syntax processing; we prefer users to install argdown via npx or globally)
package.json
package-lock.json

# Ignore apps directory, which has its own repositories
/apps*

# Ignore data about annotators
scripts/annotator_ID_finding/*

# Ignore LLM agent support files
CLAUDE.md
