langdetect
langchain
langchain-core
pydantic
numpy
pandas
torch
transformers
accelerate
bitsandbytes
peft
faiss-cpu
chromadb
sentence-transformers
optuna
scikit-learn
evaluate
tqdm
PyYAML
jsonschema
rapidfuzz
trl
datasets
unsloth
pycountry
matplotlib
seaborn
pytorch-ie
pie_modules
docling
ftfy
pytest
